body {
    margin: 10px; 
    background-color:aliceblue


}

header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: lightgreen;

}
.logo{
    display:flex ;
    background-color:lightgoldenrodyellow

}
.logo img{
    height: 100px;
}
