*{margin:0 ; }
body { 
    background-color:aliceblue;
    

}
:root {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: lightgreen;

}
.logo{
    display:flex ;
    background-color:lightgoldenrodyellow;
    align-items: center;


}
.logoimagen {
    height: 100px;
    margin-left: 10px;
}
.titulo {
    color: darkgreen;
    margin-left: 25px;
    font-variant-numeric: all-small-caps;
    font-size: 20px;
    
}

.productos {
    list-style: none;
    display: flex;;
    margin: auto;
    justify-content:center;
    padding: 10px;
    gap:20px;
    background-color:aliceblue;

}


.carrito {

    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: rgb(100, 0, 48);
    text-decoration:none;

}


.btn-ver {
  background-color: hsl(170, 92%, 46%);   
  color: white;                
  padding: 5px 24px;          
  border: none;               
  border-radius: 20px;         
  font-size: 16px;             
  font-weight: bold;           
  cursor: pointer;
}


.producto1 {
  position:relative; 
  display: inline-block;
  text-align: center;
  margin: 0px;
}
.icono-corazon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  font-size: 24px;
  cursor: pointer;
}
.icono-corazon:hover {
  color: rgb(250, 127, 127);
}

.pago {

    position:absolute;
    top: 70px;
    right: 30px;
    font-size: 30px;
    color: rgb(16, 216, 126);
    text-decoration:none;

}
